# Data Exploration

In [4]:
import logging
from pathlib import Path
import os
import sys
from dotenv import load_dotenv
from datetime import datetime

# Setup paths
ROOT_DIR = Path.cwd().parent
sys.path.append(str(ROOT_DIR))

# Load environment variables from .env
load_dotenv(ROOT_DIR / ".env")

# Adjust sys.path for imports
import sys
sys.path.append(str(ROOT_DIR / "src"))

# Import project modules
from data.fetch_data import get_db_engine, fetch_stock_data

import config

MODEL_PATH = ROOT_DIR / 'data' / 'models' / 'mlp_2025-03-30_r2_0.0264.pkl'
FEATURES = config.FEATURES_MLP_MODEL

logging.basicConfig(level=logging.INFO)

# Fetch sensitive credentials from .env file
server = os.getenv("DB_SERVER")
username = os.getenv("DB_USERNAME")
password = os.getenv("DB_PASSWORD")
database = os.getenv("DB_NAME")

# Database connection
ENGINE = get_db_engine(server, username, password, database)

INFO:root:Database connection established successfully.

### Get the most recent date and first date

In [11]:
sql_query = "SELECT MAX(date) AS most_recent_date FROM data"
df_max = fetch_stock_data(ENGINE, sql_query)

sql_query = "SELECT MIN(date) AS most_recent_date FROM data"
df_min = fetch_stock_data(ENGINE, sql_query)

INFO:root:Fetched 1 rows from database.
INFO:root:Fetched 1 rows from database.

In [18]:
print(f"{df_min.iloc[0].values[0]} to {df_max.iloc[0].values[0]}")

2000-01 to 2022-03

### Find granularity of dates

In [19]:
sql_query = "SELECT DISTINCT TOP 10 date FROM data ORDER BY date"
df = fetch_stock_data(ENGINE, sql_query)

INFO:root:Fetched 10 rows from database.

In [20]:
df

      date
0  2000-01
1  2000-02
2  2000-03
3  2000-04
4  2000-05
5  2000-06
6  2000-07
7  2000-08
8  2000-09
9  2000-10

### Return all columns

In [8]:
sql_query = "SELECT TOP 1 * FROM data"
# Fetch and preprocess data
df = fetch_stock_data(ENGINE, sql_query)
df.info(verbose=True)

INFO:root:Fetched 1 rows from database.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 107 columns):
 #    Column           Dtype
---   ------           -----
 0    date             object
 1    ticker           object
 2    permno           int64
 3    siccd            int64
 4    ret              float64
 5    absacc           object
 6    acc              object
 7    aeavol           float64
 8    age              float64
 9    agr              object
 10   baspread         float64
 11   beta             float64
 12   betasq           float64
 13   bm               float64
 14   bm_ia            float64
 15   cash             float64
 16   cashdebt         float64
 17   cashpr           float64
 18   cfp              float64
 19   cfp_ia           float64
 20   chatoia          object
 21   chcsho           object
 22   chempia          object
 23   chfeps           float64
 24   chinv            object
 25   chmom            object
 26   chnanalyst       float64
 27   chpmia           object
 28   chtx             float64
 29   cinvest          float64
 30   convind          float64
 31   currat           float64
 32   depr             float64
 33   disp             float64
 34   divi             object
 35   divo             object
 36   dolvol           float64
 37   dy               float64
 38   ear              float64
 39   egr              object
 40   ep               float64
 41   fgr5yr           object
 42   gma              object
 43   grcapx           object
 44   grltnoa          object
 45   herf             float64
 46   hire             object
 47   idiovol          float64
 48   ill              float64
 49   indmom           float64
 50   invest           object
 51   ipo              float64
 52   lev              float64
 53   lgr              object
 54   maxret           float64
 55   mom12m           object
 56   mom1m            float64
 57   mom36m           object
 58   mom6m            float64
 59   ms               float64
 60   mve              float64
 61   mve_ia           float64
 62   nanalyst         float64
 63   nincr            float64
 64   operprof         object
 65   orgcap           object
 66   pchcapx_ia       object
 67   pchcurrat        object
 68   pchdepr          object
 69   pchgm_pchsale    object
 70   pchquick         object
 71   pchsale_pchinvt  object
 72   pchsale_pchrect  object
 73   pchsale_pchxsga  object
 74   pchsaleinv       object
 75   pctacc           object
 76   pricedelay       float64
 77   ps               object
 78   quick            float64
 79   rd               object
 80   rd_mve           float64
 81   rd_sale          float64
 82   realestate       float64
 83   retvol           float64
 84   roaq             float64
 85   roavol           object
 86   roeq             float64
 87   roic             float64
 88   rsup             float64
 89   salecash         float64
 90   saleinv          object
 91   salerec          float64
 92   secured          object
 93   securedind       float64
 94   sfe              float64
 95   sgr              object
 96   sin              float64
 97   sp               float64
 98   std_dolvol       float64
 99   std_turn         float64
 100  stdacc           object
 101  stdcf            object
 102  sue              float64
 103  tang             float64
 104  tb               float64
 105  turn             float64
 106  zerotrade        float64
dtypes: float64(62), int64(2), object(43)
memory usage: 988.0+ bytes